/Domain&Emails_config
/Gemini_Generated_Image_.png
/generate_whole_product.py
/Ml in 6h.pdf
/Prequest
/Proposal (1).pdf
/render_pin_matrix.py
/render_visor_product.py
/Researching
/scratch.txt
/Stages
/Studing